body {
    background-color: #0676e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.containerWhite {
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50%;
    padding: 70px 50px;
}
.package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
header {
    border-radius: 14px;
    background-color: #0676e6;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.perDay {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-top: -25px;
    margin-bottom: 25px;
}
.listText {
    color: #bac1c9;
    font-size: 13px;
    text-align: center;
    line-height: 1,5;
}
button {
    border: 2px solid #0676e6;
    border-radius: 20px;
    text-transform: uppercase;
    color: #0676e6;
    margin-top: 18px;
    padding: 8px 25px;
    font-weight: bold;
    background-color: white;
    font-size: 10px;
}
@media (max-width: 1300px) {
    .containerWhite {
        flex-wrap: wrap;
    }
}
@media (max-width: 900px) {
    body {
        width: 100%;
        height: 100%;
        margin: 25px 0;
    }
    .containerWhite {
        padding: 50px;
        width: 60%;
    }
    .package {
        width: 60%;
    }
}
@media (max-width: 700px) {
    .containerWhite {
        padding: 30px;
        width: 70%;
    }
}
@media (max-width: 400px) {
    .containerWhite {
        padding: 15px;
        width: 85%;
    }
}
