* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0676e6;
    font-family: sans-serif;
}
.containerWhite {
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 70%;
    height: 70%;
    padding: 70px 25px;
}
.package {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    width: 40%;
}
header {
    border-radius: 14px;
    background-color: #0676e6;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.perDay {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-top: -25px;
    margin-bottom: 25px;
}
.listText {
    color: #bac1c9;
    font-size: 13px;
    text-align: center;
    line-height: 1,5;
}
button {
    border: 2px solid #0676e6;
    border-radius: 20px;
    text-transform: uppercase;
    color: #0676e6;
    margin-top: 18px;
    padding: 8px 25px;
    font-weight: bold;
    background-color: white;
    font-size: 10px;
    width: 150px;
}
.mainButton {
    text-align: center;
}
@media (max-width: 1250px) {
    .containerWhite {
        flex-wrap: wrap;
        height: 100%;
        padding: 30px 25px;
    }
}
@media (max-width: 900px) {
    .containerWhite {
        width: 80%;
        padding: 20px 20px;
    }
    .package {
        width: 50%;
    }
}
@media (max-width: 750px) {
    .containerWhite {
        width: 90%;
        padding: 20px;
    }
    .package {
        width: 60%;
    }
}
@media (max-width: 600px) {
    .package {
        width: 70%;
    }
}
@media (max-width: 400px) {
    .containerWhite {
        width: 100%;
        padding: 15;
    }
    .package {
        width: 90%;
    }
}