body {
    background-color: #0676e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 60vh;
}
.containerWhite {
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 1000px;
    padding: 100px 50px;
}
.package {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    border-radius: 14px;
    background-color: #0676e6;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.price {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.perDay {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    margin-top: -25px;
    margin-bottom: 25px;
}
.listText {
    color: #bac1c9;
    font-size: 13px;
    text-align: center;
    line-height: 10px;
}
button {
    border: 2px solid #0676e6;
    border-radius: 20px;
    text-transform: uppercase;
    color: #0676e6;
    margin-top: 18px;
    padding: 8px 25px;
    font-weight: bold;
    background-color: white;
    font-size: 10px;
}